/* memebership css */
/* start css page membership here */
.content {
  margin-top: 50px;
}

.post-content {
  margin-left: -20px;
  margin-right: -20px;
}

/* switch */
.toggle-container {
  text-align: center;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  margin: 0 auto;
  padding: 5px 5px;
  margin-bottom: 50px;
  background: #fff;
  border-radius: 100px;
  font-size: 20px;
  border-left: 5px solid #fff;
  border: 1px solid rgb(39 39 39 / 75%);
}

.toggle-btn {
  flex: 1;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 16px;
  background: none;
  border: none;
  border-radius: 25px;
  z-index: 1;
  font-family: sans-serif;
}

.toggle-btn.active {
  background-color: #ff4c60;
  color: #fff;
}

.toggle-btn:not(.active) {
  color: #333;
}

/* content switch */
.pricing-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pricing {
  display: none;
  flex-direction: row;
  justify-content: center;
}

.pricing.active {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.plan {
  background-color: #fff;
  padding: 50px;
  text-align: center;
  margin-bottom: 35px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 0px #333;
  text-align: center;
  border: 1px solid rgb(39 39 39 / 75%);
}

.plan h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.price {
  font-size: 55px;
  font-weight: bold;
  color: #ff4c60;
  margin-bottom: 15px;
}

.price span {
  display: inline-block;
  font-size: 30%;
  vertical-align: baseline;
  margin-top: -3px;
  color: #333;
}

.plan-container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.plan ul {
  list-style: none;
  padding: 10px 0 25px;
  margin-top: 25px;
  border-top: 1px solid rgb(39 39 39 / 75%);
}

.plan ul li {
  position: relative;
  text-align: left;
  font-size: 15px;
  list-style: none;
  z-index: 1;
  padding-left: 20px;
  margin-top: 15px;
}

.plan ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 5px;
  height: 5px;
  background: #fed267;
  border-radius: 50%;
}

.sign-up-btn {
  display: inline-block;
  background-color: #ff4c60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
}

.sign-up-btn:hover,
.sign-in-btn:hover {
  background-color: #ff4b4b;
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0px 0px #333;
  color: #fff;
}

.sign-up-now {
  background-image: none;
  background-color: #333;
  border: 1px solid black;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  box-shadow: 2px 2px #443c3c;
}

.sign-up-now:hover {
  box-shadow: 2px 2px #443c3c;
  transform: translate(-2px, -2px);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.sign-in-btn {
  margin-left: 10px;
  display: inline-block;
  color: #fff;
  font-size: 15px;
  padding: 5px 25px;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 2;
  font-family: sans-serif;
  border-radius: 25px;
  border: 1px solid rgb(39 39 39 / 75%);
  background-color: #ff4c60;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 2px 2px #443c3c;
}


/* reponsive membership*/
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 902px) {
  .pricing-container section {
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }
  
  .plan {
    margin-bottom: 2rem;
    text-align: center; 
    padding: 20px; 
    border: 1px solid #333; 
    border-radius: 10px; 
    transition: all 0.3s ease; 
    width: 90%; 
    box-sizing: border-box;

  }
}

@media (max-width: 1150px) {
  .grid-container {
    max-width: 1100px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .grid-70 {
    float: left;
    width: 70%;
  }

  .grid-100 {
    clear: both;
    width: 100%;
  }

  .grid-30 {
    width: 30%;
  }

  .grid-33 {
    width: 33.333333%;
  }
}

@media (max-width: 768px) {
  .grid-container {
    flex-direction: column;
    align-items: center;
  }

}